﻿@{
    List<Teacher> students = Model;
    ViewBag.Title = "Teachers' List";
}

<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>TeacherId</th>
                    <th>Teacher</th>
                    <th>Students</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in students)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <ul>
                                @foreach (var teacherStudent in item.TeacherStudents)
                                {
                                    <li>
                                        @teacherStudent.Student.Name
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>